html, body{
  font-family: 'DM Sans', sans-serif;
}

p{
  font-family: 'Prata', serif;
  text-align: center;
}

h1{
  font-family: 'Volkhov', serif;
  color: black;
  text-align: center;
  font-size: 70px
}

h2{
  color: blue;
  text-align: center;
  text-decoration: underline;
}

h3{
  text-align: center;
  font-size: 40px
}

ol{
  text-align:left;
  font-size: 20px
}

ul{
  font-size: 20px
}

img{

  display: block;
  margin-left: auto;
  margin-right: auto;
}

#one{
  text-align: left;
  font-size: 30px
}

#two{
  text-align: center;
  font-size: 30px
}

#three{
  text-align: right;
  text-decoration-line: underline;
  font-size: 30px
}

#four{
  background-color: black;
  color: white;
  text-align: center;
  transform: matrix();
}

#five{
  font-size: 20px
}
